<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>c2febc1792a033c10b5664e084c1f9ce345f3867</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>NbayH1cZcSzcggbFdkLRy44hh</string>
					<key>consumerSecret</key>
					<string>hrkWXolmC6HaBqUiF1Nv0x0FFTGKEUgptJ5GN9dKSxiSyBhQch</string>
				</dict>
				<key>KitName</key>
				<string>Digits</string>
			</dict>
		</array>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Let&apos;sConnect</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>LCLanuchView</string>
	<key>UILaunchStoryboardName</key>
	<string>LCLanuchView</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>AppleStormCBo.otf</string>
		<string>AppleStormCBoIta.otf</string>
		<string>AppleStormIta.otf</string>
		<string>AppleStormXbdOutIta.otf</string>
		<string>AppleStormShdRg.otf</string>
		<string>yerbaluisa_demo-font-FFP.ttf</string>
		<string>Wabroye_014.otf</string>
		<string>Risaltyp_024.ttf</string>
		<string>MechanicalOutObl.otf</string>
		<string>Kleymissky_0283.otf</string>
		<string>BroshK.otf</string>
		<string>Garineldo.otf</string>
		<string>Kleymissky_0283.otf</string>
		<string>mathilde.otf</string>
		<string>MechanicalBdOut.otf</string>
		<string>odstemplik.otf</string>
	</array>
</dict>
</plist>
