<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Connect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Let'sConnect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>let'sChart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC06851E1EA61C78007CC738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACDFCCA31EA3EAD40028C98B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACF97AA51E9E79B9004CD40C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACF97ABE1E9E79BA004CD40C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACF97AC91E9E79BA004CD40C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
